*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background: #ff7300cb;

}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrapper .loader{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

}

.loader .loading{
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin: 0 10px ;
    animation: load 0.9s ease infinite
;

}

.loader .loading.one{
    animation-delay: 0.3s;
}
.loader .loading.two{
    animation-delay: 0.4s;
}

.loader .loading.othreene{
    animation-delay: 0.5s;
}


@keyframes load {
    0%{
        width: 30px;
        height: 30px;
    }
    50%{
        width: 20px;
        height: 20px;
    }
}